{% include "layout.html" %}

<div class="container">
  <div class="card">
    <div class="card-header">Change Password</div>
    <div class="card-body">
      {%if msg == "Username or Password Error"%}
      <div class="alert alert-danger" role="alert">{{msg}}</div>
      {%endif%}
      <!-- Start Form -->
      <form method="POST" action="password">
        <!-- Field -->
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" required />
        </div>
        <!-- Field -->
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            required
          />
        </div>
        <!-- Field -->
        <div class="form-group">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            name="new_password"
            required
          />
        </div>
        <!--Submit-->
        <button type="submit" class="btn btn-primary">Change</button>
      </form>
      <!-- End Form -->
    </div>
    <div class="card-footer text-muted">
      <a href="/todos"> Return Home </a>
    </div>
  </div>
</div>
